body{
  font-family: sans-serif;
  font-size: 20px;

  width: 960px;
  margin: 0 auto;

  background-color: lightgray;
}

h1{
  color: slategray;
  font-family: 'Georgia', serif;
  text-transform: uppercase;
}

img{
  width: 100%;
}
