body{
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.4em;

  width: 960px;
  margin: 0 auto;
}

h1{
  color: purple;
  font-family: 'Georgia', serif;
  text-transform: uppercase;
}

img{
  width: 100%;
}
